@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
  /* border: 2px gray solid  !important; */
  /* padding: 20px 10px  !important; */
  font-size: 13px !important;
  width: 40px !important;
  height: 100px !important;
  background-color: #666666;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 30px !important;
  font-weight: bolder !important;

}


.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0px !important;
  /* right: 0px !important; */

}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0px !important;
  /* left: 0px !important; */

}

img {
  width: 100%;
  height: 100%;
}

.bg-partner {
  background-image: url('../../public//assets/Kitch1.jpg');
  /* width: 100%;
  height: 100%; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 0px;
  /* Ensures the background is fixed */

}

.bg-partner::after{
  content: '';
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
  z-index: 10px;
}

.contact-bg {
  background-image: url('../../public//assets/bg-contact.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* @media (max-width: 768px) {
  .contact-bg {
    height: 100vh;
 background-size: cover;
  }
} */

.barCompleted {
  width: 60%;
  background-color: #E96D1F;
  height: 10px;
  margin: 20px 0;
}

.bg-footer {
  background-image: url('../../public//assets/para1.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}


/* components/AnimatedText.module.css */
/* components/AnimatedText.module.css */


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
}

100% {
    opacity: 1;
    transform: translateY(0);
}
}

.animatedText {
  animation: fadeInUp 1s ease-in-out forwards;
}


.mainImage{
  background-image: url('../../public//assets/bg2-remove.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: black;
  transition: transform 0.3s ease;
}

.sidebar.open {
  transform: translateX(300px);
  z-index: 9999;
}


.bg-imgAbout{
  background-image: url('../../public/assets//bg-about.jpg');
}


/* @-webkit-keyframes fadeInOut {
  fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0)
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px)
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0)
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px)
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0)
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */